# Copia a .env y rellena los valores.
PORT=3500

# Preferir 127.0.0.1 si localhost falla por IPv6
CHARTMUSEUM_BASE_URL=http://127.0.0.1:8080
CHARTMUSEUM_USER=
CHARTMUSEUM_PASSWORD=
# Opcional (multitenancy ChartMuseum): p. ej. org1/repoa
CHARTMUSEUM_REPO_PATH=
